{
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "rules": {
    "metrics/metrics-documentation": 0,
    "no-await-in-loop": 0,
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "react/forbid-prop-types": 0,
    "react/no-di-mount-set-state": 0,
    "react/jsx-no-target_blank": 0
  },
  "globals": {
    "jest": true,
    "expect": true,
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "beforeAll": true,
    "afterAll": true,
    "document": true,
    "window": true,
    "self": true,
    "serviceWorkerOption": true,
    "caches": true,
    "fetch": true,
    "Request": true,
    "navigator": true,
    "FormData": true
  }
}
