#countdown {
  font-family: 'ubuntu';
  position: absolute;
  top: 150px;
  right: 10%;
  width: 50px;
  padding: 10px 18px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 50%;
}

#daysLeft {
  font-weight: bold;
  font-size: 1.5em;
}

@media all and (max-width: 800px) {
  #countdown {
    color: pink;
    display: none;
  }
}
