@font-face {
  font-family: 'DancingScript';
  src: url('./resources/fonts/DancingScript.ttf');
}

@font-face {
  font-family: 'DancingScript';
  font-weight: bold;
  src: url('./resources/fonts/DancingScript-Bold.ttf');
}

@font-face {
  font-family: 'ChampagneAndLimousines';
  src: url('./resources/fonts/ChampagneAndLimousines.ttf');
}

@font-face {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  src: url('./resources/fonts/ChampagneAndLimousines-Bold.ttf');
}

@font-face {
  font-family: 'ChampagneAndLimousines';
  font-style: italic;
  src: url('./resources/fonts/ChampagneAndLimousines-Italic.ttf');
}

@font-face {
  font-family: 'ChampagneAndLimousines';
  font-weight: bold;
  font-style: italic;
  src: url('./resources/fonts/ChampagneAndLimousines-Bold-Italic.ttf');
}
