@font-face {
  font-family: 'DiaryAmily';
  src: url('./resources/DiaryAmily.ttf');
}

@font-face {
  font-family: 'DancingScript';
  src: url('./resources/DancingScript-Regular.ttf');
}

@font-face {
  font-family: 'DancingScript';
  font-weight: 'bold';
  src: url('./resources/DancingScript-Bold.ttf');
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'DancingScript', 'Ubuntu', sans-serif;
  color: black;
}

#root {
  height: 100%;
}

h1 {
  font-size: 3.5em;
  font-weight: 550;
}

p {
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
